/*first color:#c49b66*/

/*second color:#08526d*/








/*start nav-bar*/

.nav-bar{
    
    background-color:rgba(0,0,0,0.8);
    
    
    
    color: #c49b66; 
    
    
    position: fixed; top:0; left: 0; 
    z-index:999999;
    
    width: 100%;
    
    
   
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}
.nav-bar .brand{
    
    margin-top: 20px;
    
    
    
}

.nav-bar .brand .logo{
    
    
    font-weight: bold;
    
    font-size: 20px;
    
    
    
    
    
}






.nav-bar .brand .sub-logo{
    
    
    
    
    margin-bottom: 0;
    
    font-size: 15px;
    
    
}



@media(max-width:720px) {
	
	.nav-bar .brand {
		
		display: none;
		
		
	}
	
	
	
	
	
}



.nav-bar .menu ul li{
    
    
    display: inline-block;
    
    margin-right: 20px;
    
    
    
   
    
    
    
}

.nav-bar .menu ul li a{
    
    
    
    color: #c49b66;
    text-decoration: none;
    
    
    display: inline-block;
    
    font-size: 20px;
    
    margin-top: 0;
    
    text-transform: uppercase;
    
    
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    
    -moz-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    
    
    
    
    
    
}




.nav-bar .menu ul li a.active{
    
    color: #fff; 
    background-color: #c49b66;
    
    
    padding-bottom:20px;
    
    
    padding: 0 10px ;
    
    padding-top: 40px;
    
    
    
    border-radius: 0 0 10px 10px;
   
    
    
    
}





/*end-nav-bar*/





/*start header*/
.header .carousel-inner{
    
    
    position: relative; 
    
    
}

.header .carousel-inner .intro{
    position: absolute; 
    
    
    width: 100%; 
    
   
    

  
    
    display: flex; 
    
    
    align-items:center;
    
    justify-content: center;
    
    
    
    
    
   
    
    
    
}




.header .carousel-inner .intro h1{
    
    
    position: absolute;
    
    z-index: 3; 
    color: #fff; 
    
    
    
    max-width: 600px;
    
    text-align: center;
    
    font-size: 50px;
   
    
    
}




    
    
    
    
    
    
    
    
    
    








.header .carousel-inner .intro h1 span:first-child{
    
    
    color: #c49b66;
    
    font-weight: bold; 
    font-size: 50px;
    
    
    
}


.header .carousel-inner .intro h1 span:last-child{
    
    
     color: #c49b66;
    
    font-weight: normal; 
    font-size: 50px;
    
    border-bottom: 5px solid #ccc;
    
    
}











@media(max-width:720px){
    
    
    
    
      .header .carousel-inner .intro{
          
          
          display: flex; 
          
          
          align-items:center; 
          justify-content: center;
          
          
          max-width: 250px;
          
          position: absolute; 
          
          top:150px;  left: 0px;
    
    
    
    
  
    
    
    
    
    
   
    
    
    
}
    
    
    
    
    .header .carousel-inner .intro h1{
        
        
        text-align: left;
        
        
        font-size: 30px;
        
        line-height:1.5;
        
        
        
        
        
        
    }
    
  
    
    

    
    
    
    .header .carousel-inner .intro h1 span:last-child{
        
        
        
        
         font-size: 30px;
    
    
    
    
}
    
    
    
    
    
    
.header .carousel-inner .intro h1 span:first-child{
    
    
   
    font-size: 30px;
    
    
    
}


    
    
       
        
        
    }



















































.header .carousel-inner .overlay{
    
    
  
    background-color: rgba(0,0,0,0.4);
    
    position: absolute;  top:0; left: 0; 
    
    width: 100%; 
    height: 100%; 
    
    z-index: 2; 
    
    
    
    
    
}





/*slider imgs*/



.header .carousel-item{
    
    
    
    -webkit-background-size: cover; 
    
     -moz-background-size: cover; 
     -o-background-size: cover; 
        background-size: cover; 
    
    
    
    
    
    
}



  



.slide1{
    
    background: url("../images/slider/1.jpg") center center no-repeat fixed;
    
    
    
    
}



.slide2{
    
    background: url("../images/slider/2.png") center center no-repeat fixed;
    
    
    
    
}



.slide3{
    
    background: url("../images/slider/3.png") center center no-repeat fixed;
    
    
    
    
}



/* end slider imgs*/

















/*end header*/







/*start about*/





.about{
    
    
    position: relative;
    
    overflow: hidden;
    
    padding: 40px 0; 
    
    
    color: #fff; 
    
    
    
    background-color: black;
    
    
    min-height: 400px; 
    
    
   
    
    
    
    
    
}




.personal-img {
    
    
    max-width: 100%;
    
    margin-top: 50px;
   
    
    
   
    
    
    
}

 .about:hover .square img{
    
    
    transform:scale(0.9,0.9);
    
}





.square{
    
    
    max-width: 100%;
    
    
    position: absolute; 
    
    
}







@media(max-width:720px){
    
    
    .personal-img {
        
        
        
        max-width: 100%;
    
    margin-top: 50px;
   
        
        
        
    
    
    border-radius: 50%; 
        
        margin-left: -50px;
   
    
    
   
    
    
    
}
    
    
    
    .square{
    
    
    max-width: 100%;
    
    
    position: absolute; 
        
        
        
        
        margin-left: -60px;
    
    
}


    
    
    
    
    
    
    
    
}


























.about-text {
    
    
    margin-top:100px;
    
   
    
    
    
}








/*end about*/





/*start education*/


.education{
    
    
    padding: 40px 0;
 
    
    
    
    
    
        
    
 
    
    
    color: #fff; 
    

    

    
    
    
    background-color:#151515;
    
    width: 100%;
    
    
    
    
    -webkit-background-size:cover; 
    
    -moz-background-size:cover; 
    
    -o-background-size:cover; 
    background-size:cover; 
    
    
    
    
    
}















.education .edu{
    
    width:90%;
    
    border: 3px solid #c49b66;
    
    
    border-radius: 10px;
    
    
    padding: 10px;
    
    
    margin-right: 80px;
    
    height: 250px;
    
    margin-bottom: 10px;
    
    
    
}



.education .exp{
    
    
    
    
    width:90%;
    
    border: 3px solid #c49b66;
    
    
    border-radius: 10px;
    
    
    padding: 10px;
    
     height: 250px;
    
    
   
    
    
    
    
    
}



/*end start education*/





/*start skills*/

.skills{
    
    padding: 40px 0; 
    
    background-color: black; 
    
    color:white;
    
    
    
    
    
}


.skills .h1{
    
    
    margin-bottom: 30px;
    
    
}

.skills .h1:after{
    
    
    content: " "; 
    
    height: 3px; 
    width:70px;
    
    background-color: #c49b66; 
    display: block;
    
    margin-top: 10px;
    
    
    
    
    
}




.skills .progress{
    
    
    width: 90%;
    border-radius: 0;
    margin-right: 90px;
    
    
}




.skills .progress-bar {
    
    
        background-color: #c49b66;
    
    
}

.skills .graphics ,
.skills .web{
    
    
    margin-bottom: 40px;
    
    
    
}







.skills .graphics .pro ,

.skills .web .pro {
    
    
    margin-bottom: 10px;
    
    
    
    
    
    
}







.skills .graphics .pro >p,

.skills .web .pro >p

{
    
    
    margin-bottom: 0;
    
    
}


.skills .graphics .pro,

.skills .web .pro,



{
    
    
    
    margin-bottom: 10px;
    
    
}


.skills .my-cv{
    
    
    margin: 0 auto;
    
    
    
    
    
}




.skills .my-cv a{
    
    color:#fff;  
    
    text-decoration: none; 
    
    
    display: inline-block;
    
    
    border: 2px solid #fff;
    
    padding: 10px; 
    
    border-radius: 5px;
    
    
    font-weight: 100;
    
    
    -webkit-transition:all 0.5s ease-in-out; 
    -moz-transition:all 0.5s ease-in-out; 
    -o-transition:all 0.5s ease-in-out; 
   transition:all 0.5s ease-in-out; 
    
    
    
    
    
    
    
    
}



.skills .my-cv a:hover{
    
    background-color:  #c49b66; 
    
    
    
    transform: scale(1.1,1.1);
    
    
    
}




/*end skills*/




/*start statistics*/



.statistics{
    
    
     min-height: 390px;
    
    
   
    background-color: black; 
    
    color: #fff; 
    
    
    
    
    background: url("../images/statistics.png") no-repeat center center fixed  ;
    
    
    
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
        background-size: cover;
    
    
    
    
    
    
}




.statistics .overlay{
    
    
     padding: 40px 0; 
    
    color: #fff; 
    
    
    background-color: rgba(0,0,0,0.7);
    
    min-height: 390px;
    
    
    
    
    
}





.statistics .h1{
    
    margin-bottom: 60px;
    
    
    
    
    
    
}



.statistics h2{
    
    
    font-size: 55px;
    
    
}




.statistics i{
    
    
    margin-bottom: 20px;
    
    
}



.statistics p{
    
    
    margin-bottom: 50px;
    
    
}





/*end statistics*/





/*start contact*/



.contact{
    
    color: #fff; 
    
    
    padding: 55px 0; 
    
    
    background-color: black; 
    
    
    
/*    min-height: 400px;*/
    

    
    
    
    
}



.contact textarea{
    
    height: 92px;
    
    
}




.contact input[type="text"] ,
.contact textarea

{
    
    background-color: rgba(2,2,2,0.8);
}






/*end contact*/




/*start footer*/



.footer{ 

    
    padding: 35px 0;
    color: #fff; 

    
    
    
    background-color: #151515;
    
    -webkit-background-size: cover;
    
    -o-background-size: cover;
    -moz-background-size: cover;
       background-size: cover;




}









.footer span, .footer i{
    
   color:  #c49b66; 
    
    
    
    
}




.footer span{
    
    display: inline-block; 
    
    
    
    
    
    
}



.footer .h1{
    
    font-size: 20px;
    
    
    
}





.footer i{
    
    
    
    
    
    
}



.footer p{
    
    
    font-size: 22px;
    
    font-weight: 100;
    
    margin-top: 10px;
    
    
    
    
    
}



.footer .social-links ul li{
    
    margin-left: 10px;
    
    display: inline-block;
    
    
}




.footer .social-links ul{
    
    
   margin-top: 10px; 
    
    
}








/*end footer */




/*copy right*/

.copy-right{
    
    padding-top: 10px; 
    
    color: #fff; 
    
    background-color:black; 
    
    
    
    
    
}



.copy-right span{
    
       

    
    color: #c49b66; 
    
    
    
    margin-right: 15px;
    
    display: inline-block;
    
    font-size: 22px;
    
    
}




.copy-right p{
    
     
    display: inline-block;
    
    
    font-size: 22px;
  
    
    
}


.copy-right .copy-c{
    
    
    
    margin: 0 auto;
    
    
    
    
    
}



/*copy right*/







/*loading*/










/*loading*/


.loading{
    
    background-color: #222; 
    
    color: #c49b66;
    
    position: fixed;  top: 0; left: 0; 
    
    width: 100%; height: 100%; 
    z-index: 9999999; 
    
    
    
    
    
    
    
    
}


.loading h1{
    
    
    
    text-align: center;
    padding-top: 200px;
    
   
    
    
}




.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #c49b66;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}




/*loading*/







/*loading*/













/*side bar */





.side-bar{
    
    
    background-color:black; 
    
    
    position: fixed; 
    
    
    
    z-index: 9999;
    
    top:250px; right: 0; 
    
/*    width:50px; */
    
/*    height: 150px; */
    
    
    
    border:2px solid #fff; 
    
    border-radius: 10px 0 0 10px ;
    
    
    
    
    
    
}



.side-bar ul li{
    
    
    
    margin-bottom: 20px;
    
}


.side-bar ul {
    
    
    
    
    margin: 0 20px;
    
   
    
    
    
}



.side-bar ul li:first-child{
    
    
    margin-top: 20px; 
    
    
    
    
}




/*side bar */









































